header .row-top {
  height: 50px;
  background-color: rgb(255,231,210);
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}
    a {
      @include a_style;
      color: rgb(54,118,175);
    }
    p {
      font-size: 15px;
      font-weight: 600;
      }


  .row-bottom {
    width: 65%;
    height: 80px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
