//colors
$primaryColor: #58402B;
$secondColor: #263971;
$thirdColor: #ccc;



// size
$wrapper_width: 85%;
$row-top-height: 50px;
$row-bottom-height: 85px;
$row-bottom-width: 85%;

$jumbo_width: 70%;

@mixin a_style {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
